.Blocs {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    min-height: 100vh;
    background-color: blue;
}

#card-home {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; /* Center horizontally */
}

#outlined-basic {
    margin-top: 30px;
    margin-bottom: 5px;
}

Button {
    margin-bottom: 20px;
}

#agregar {
    margin: auto; /* Center horizontally */
}